# San Francisco Salary Analysis

This is a project which was part of Pierandata data science course. Data sets being used was downloaded from [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries)Kaggle.

In [1]:
import pandas as pd
#Importing Pandas library as the project is based on the functionality of the library

In [3]:
sal = pd.read_csv('Salaries.csv')
#Importing CSV datafile which contains the datasets being used for the project

** Check the head of the DataFrame. **

In [4]:
sal.head()
#Checking the head of the Dataframe; this returns the first few entries of the dataset

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
sal.info() 
#This method gives information about the dataFrame. 
#from this is noticed there are 148654 Entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [6]:
sal['BasePay'].mean()
#Checking Average BasePay

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal['OvertimePay'].max()
#Checking highest ampount of Overtime pay in the dataset

245131.88

Zeroing in on specific employee name and getting specific data regarding the employee. For project purposes Dylan Singares would be used. Since python is object specific, to get the most accurate data regarding Dylan Singares, all methods must be performed with PATRICK GARDNER being in title case, that is the first letter of each word (Dylan Singares) should be capitalised. For case study like NATHANIEL FORD, the "NATHANIEL FORD" must be in all caps. However, our case study would be based on Dylan Singares

In [10]:
sal[sal['EmployeeName']=='Dylan Singares']['JobTitle']
#Checking employee title for Dylan Singares

71232    Public Service Trainee
Name: JobTitle, dtype: object

In [11]:
sal[sal['EmployeeName']=='Dylan Singares']['TotalPayBenefits']
#Checking employee TotalPayBenefits

71232    2934.89
Name: TotalPayBenefits, dtype: float64

In [12]:
sal.loc[sal['TotalPayBenefits'].idxmax()]
#Checking for the highest paid employee (benefits included)

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [17]:
sal.loc[sal['TotalPayBenefits'].idxmin()]
# Checking for the lowest paid employee (benefits included)\

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [18]:
sal.groupby('Year').mean()['BasePay']
#Average mean Pay for employees each year

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [19]:
sal['JobTitle'].nunique()
#checking for the number unique jobs or jobtitles

2159

In [20]:
sal['JobTitle'].value_counts().head(5)
#Checking for the top 5 most common jobs

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [21]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1) 
#Number of Job Titles which were held by only one person in 2013

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [26]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
#Checking for number of job titles with Chief in them

In [27]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

** Checking for correlation between length of the Job Title string and Salary **

In [28]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [29]:
sal[['title_len','TotalPayBenefits']].corr() 
# No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000